@model List<ToDoApp.Models.Todo>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDoApp</title>
    <link href=@Url.Content("~/StyleSheet.css") rel="stylesheet" />
</head>
<body>
    <h1>TODOS FOR TODAY:</h1>
    <button>@Html.ActionLink("Add new todo", "Add", "Todo")</button>
    <table>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.IsDone</td>
                <td>@item.IsUrgent</td>
                <td>
                    <form action="/todo/(@item.Id)/edit" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="/{id}/delete" method="post">
                        <input type="hidden" name="id" value="@item.Id"/>
                        <button type="submit">x</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
</html>
