@model FoxClub.Models.Fox
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub Nutrition Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href=@Url.Content("~/StyleSheet.css") rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="navigation">
            <button>@Html.ActionLink("Information", "Index", "Home")</button>
            <button>@Html.ActionLink("Nutrition Store", "NutritionStore", "Home")</button>
            <button>@Html.ActionLink("Trick Center", "TrickCenter", "Home")</button>
        </div>
        <div>
            <form action="/nutritionStore" method="post">
                Food
                <select name="food">
                    <option value="@Model.Food">Pizza</option>
                    <option value="@Model.Food">Salad</option>
                </select>
                Drink
                <select name="drink">
                    <option value="@Model.Drink">Lemonade</option>
                    <option value="@Model.Drink">Water</option>
                </select>
                <input type="submit" value="Change">
            </form>
        </div>
    </div>
</body>
</html>
