@model FoxClub.Models.Fox
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub Trick Center</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href=@Url.Content("~/StyleSheet.css") rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="navigation">
            <button>@Html.ActionLink("Information", "Information", "Home")</button>
            <button>@Html.ActionLink("Nutrition Store", "NutritionStore", "Home")</button>
            <button>@Html.ActionLink("Trick Center", "TrickCenter", "Home")</button>
        </div>
        <div>
            <form action="/" method="post">
                Tricks
                <select name="trick">
                    <option value="@Model.Trick">write HTML</option>
                    <option value="@Model.Trick">code in C#</option>
                    <option value="@Model.Trick">code in JAVA</option>
                    <option value="@Model.Trick">code in JavaScript</option>
                </select>
                <input type="submit" value="Learn">
            </form>
        </div>
    </div>
</body>
</html>
